# Node modules
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.swp

# Coverage reports
coverage/

# MongoDB dump
dump/

# Others
*.log
.env